.content-wrapper {
    padding: 5px;
}

.tox-promotion {
    display: none;
}

.tox-statusbar__branding {
    display: none;
}

.ticket-header .badge {
    margin-right: 5px;
}

.ticket-replies {
    height: 70vh;
    overflow-y: scroll;
}

.ticket-description img {
    width: 100%;
}

#ticketReplyModal .tox-tinymce {
    border-radius: 0px !important;
}